<html>
    <head></head>
    <body>
        <p>
            <a href='/new'>Criar função transacional</a>
        </p>
        <table border="2">
            <thead>
                <tr>
                <th>Nome da função</th>
                <th>Tipo de função</th>
                <th>Nome do contador</th>
                <th>Complexidade</th>
                <th>Pontos de função</th>
                <th>ALR</th>
                <th>DER</th>
                <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {% for element in object_list %}
                        <tr>
                        <td>{{ element.name }}</td>
                        <td>{{ element.f_type }}</td>
                        <td>{{ element.counter_name }}</td>
                        <td>{{ element.complexity }}</td>
                        <td>{{ element.function_points }}</td>
                        <td>{{ element.qt_ALR }}</td>
                        <td>{{ element.qt_DER }}</td>
                        <td>{{ element.date }}</td>
                        </tr>
                {% endfor %}
            </tbody>
            </table>
    </body>
</html>